html{
    display: flex;
    width: 100%;
    height: 100%;
    color: aliceblue;
    background-image: url("Logos\ DN/dn219.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* desarrollado por Franco Donato Gonzalez */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
h1{
    font-size: 2rem;
}

.contenedorApp{
    border-radius: 5%;
    width: 35%;
    height: 60%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: antiquewhite; 
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.925) 0%, rgba(121, 9, 89, 0.836) 95%, rgba(176, 14, 125, 0.705) 100%);
    box-shadow: 5px 15px 10px rgba(245, 244, 244, 0.548);


}
#mac{
    font-weight: 600;
    font-size: large;
}

.botones{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
}

button{
    border:none;
    border-radius: 25%;
    padding: 5px 20px;
    transition: background-color 0.3s;
    cursor: pointer;
}

#banelco{
    border-style:solid;
    color: aliceblue;
    background-color: rgb(161, 85, 85);
    border-color: rgb(0, 0, 0);
    transition: background-color 2s, box-shadow 2s, color 1s, border color 2s;
    box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.438);
    
}
#banelco:hover{
    color: aliceblue;
    background-color: rgb(255, 0, 0);
    border-color:rgb(247, 0, 0);
    box-shadow: 2px 3px 5px rgba(245, 244, 244, 0.884);

}

#link{
    border-style:solid;
    color: aliceblue;
    background-color: rgb(41, 117, 41);
    border-color: rgb(143, 124, 38);
    transition: background-color 2s, box-shadow 2s, color 1s, border color 2s;
    box-shadow: 1px 2px 5px rgba(255, 230, 7, 0.438);
    
}
#link:hover{
    background-color: rgb(60, 163, 40);
    border-color:rgb(229, 245, 1);
    box-shadow: 2px 3px 5px rgba(251, 255, 0, 0.808);

}

h2{
    font-weight: 300;
    font-size:1rem;
}
h3{
    font-weight: 300;
    font-size:1rem;
}

.redes{
    color: aliceblue;
    display: flex;
    gap: 10px;
    font-size:1.5rem;
}

.redes:hover{
    cursor: pointer;
}

a{
    color: rgb(255, 255, 255);
    font-style: normal;
    text-decoration: none;
    transition: text-shadow 0.7s;
}

i{
    font-size: 1.5rem;
    color: rgb(102, 141, 175);
}

a:hover{

    text-shadow: 2px 3px 5px rgba(8, 4, 247, 0.753);
}

@media (max-width: 840px) {
    html{
        background-image: url("Logos\ DN/dn219.jpg");
    }
    body {
        font-size: 14px;
    }
    .contenedorApp{
        width: 80%;
        height: 80%;
        align-items: center;
    }
    h1{
        font-size: 1.5rem;
    }
    .redes{
        font-size: 1rem;
    }
    .botones{
        padding: 5px;
        gap: 15px;
    }
    
    button{
        border:none;
        border-radius: 25%;
        padding: 5px 10px;
        transition: background-color 0.3s;
        cursor: pointer;
    }
    h2{
        font-size:1rem;
        text-align: center;
    }
    
   
}